* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
}

.berger {
  position: fixed;
  z-index: 500;
  top: 4%;
  right: 6%;
  width: 50px;
  height: 40px;
  border-radius: 15px;
  background: linear-gradient(145deg, #faf0e4, #d3cac0);
  box-shadow: 6px 6px 12px #d5ccc2, -6px -6px 12px #fff4e8;
  cursor: pointer;
}
.berger .menu-line {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 70%;
  height: 2px;
  background-color: #C6AC8F;
  border-bottom: 2px solid #d3cac0;
  transition: all ease 0.5s;
}
.berger .menu-line.line2 {
  top: 18px;
  width: 35%;
}
.berger .menu-line.line3 {
  top: 28px;
  width: 35%;
}
.berger.click {
  border-radius: 15px;
  background: linear-gradient(145deg, #d3cac0, #faf0e4);
  box-shadow: 6px 6px 12px #d5ccc2, -6px -6px 12px #fff4e8;
}
.berger.click .menu-line {
  width: 70%;
}
.berger.click .menu-line.line1 {
  transform: translateY(11px) rotate(135deg);
}
.berger.click .menu-line.line2 {
  transform: translateX(-17px) scaleX(0);
}
.berger.click .menu-line.line3 {
  transform: translateY(-11px) rotate(-135deg);
}

.btn {
  position: relative;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(145deg, #b9a083, #dcbe9c);
  box-shadow: 6px 6px 12px #8c7963, -6px -6px 12px #ffebc1;
  cursor: pointer;
}
.btn a {
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffff;
  font-family: "Baloo 2", cursive;
}
.btn:hover {
  background: #EAE0D5;
  box-shadow: inset 10px 10px 12px #a69f97, inset -10px -10px 12px #ffffff;
}
.btn:hover a {
  color: #5E503F;
}

.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titles .title {
  font-size: 30px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: #5E503F;
  margin: 110px 0 10px 0;
  text-align: center;
}
.titles .title-line {
  width: 80px;
  height: 2px;
  background-color: #C6AC8F;
  margin-bottom: 70px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 40vh;
  background-color: #EAE0D5;
  border-radius: 21px;
  background: #EAE0D5;
  box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  margin-bottom: 70px;
}
.card .bg {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #ffff;
  border-radius: 41% 59% 23% 77%/59% 54% 46% 41%;
}
.card .bg .icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #5E503F;
}
.card .apply-title {
  font-size: 23px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: #5E503F;
  letter-spacing: 2.5px;
  margin: 40px 0 30px 0;
}
.card .apply-p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #5E503F;
  font-weight: 280;
  padding: 0 20px;
  text-align: center;
  line-height: 1.5rem;
}
.card .apply-p:nth-child(1) {
  font-size: 16px;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(30px);
}
.appear.inview {
  opacity: 1;
  transform: none;
}
.appear.inview:nth-child(1) {
  transition-delay: 0.1s;
}
.appear.inview:nth-child(2) {
  transition-delay: 0.2s;
}
.appear.inview:nth-child(3) {
  transition-delay: 0.3s;
}
.appear.inview:nth-child(4) {
  transition-delay: 0.4s;
}
.appear.inview:nth-child(5) {
  transition-delay: 0.5s;
}
.appear.inview:nth-child(6) {
  transition-delay: 0.6s;
}
.appear.inview:nth-child(7) {
  transition-delay: 0.7s;
}
.appear.inview:nth-child(8) {
  transition-delay: 0.8s;
}
.appear.inview:nth-child(9) {
  transition-delay: 0.9s;
}
.appear.inview:nth-child(10) {
  transition-delay: 1s;
}

.logo {
  margin: 10px 20px;
  font-size: 24px;
  font-family: "Baloo 2", cursive;
  font-weight: lighter;
}

.nav_list {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 0;
  background-color: rgba(234, 224, 213, 0.8);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transform: translateY(-20%);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #d5ccc2, -6px -6px 12px #fff4e8;
}
.nav_list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 15%;
  border-radius: 21px;
  background: #EAE0D5;
  box-shadow: inset 9px 9px 10px #d5ccc2, inset -9px -9px 10px #fff4e8;
}
.nav_list_link {
  color: #5E503F;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.nav_list.open {
  height: 40vh;
  transform: translateY(0);
}

.hero.container {
  margin: 60px auto 0;
  width: 80vw;
  height: 80vh;
  background-color: #EAE0D5;
  border-radius: 21px;
  background: #EAE0D5;
  box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero.container .head-title {
  font-size: 25px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: #5E503F;
  width: 80%;
  padding: 20px;
}
.hero.container .head-p {
  font-size: 16px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: #5E503F;
  width: 80%;
  padding: 0 20px;
}
.hero.container .card-img {
  width: 60%;
  height: auto;
  transform: rotate(42deg);
}
.hero.container .btn {
  margin-bottom: 25px;
}

#feature,
#apply,
#form {
  width: 80vw;
  margin: 0 auto;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left .img,
.right .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 35vh;
  background-color: #EAE0D5;
  border-radius: 21px;
  background: #EAE0D5;
  box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  margin-bottom: 40px;
  flex-direction: column;
}
.left .img:nth-child(1),
.right .img:nth-child(1) {
  margin-top: 20px;
}
.left .img p,
.right .img p {
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-top: 5px;
}
.left .img img,
.right .img img {
  width: 90%;
  height: auto;
  max-width: 280px;
  border-radius: 83% 17% 73% 27%/25% 46% 54% 75%;
}
.left .text,
.right .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left .text .feature-head,
.right .text .feature-head {
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: #5E503F;
  margin-bottom: 20px;
}
.left .text .feature-p,
.right .text .feature-p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #5E503F;
  font-weight: 280;
  margin-bottom: 5px;
}
.left .text .btn,
.right .text .btn {
  margin-top: 50px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 70vw;
  height: 60vh;
  background-color: #EAE0D5;
  border-radius: 21px;
  background: #EAE0D5;
  box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
}
.card .apply-p {
  font-size: 16px;
}

.get-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.get-card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 35vh;
  background-color: #EAE0D5;
  border-radius: 21px;
  background: #EAE0D5;
  box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  margin-bottom: 40px;
  flex-direction: column;
}
.get-card .img img {
  width: 90%;
  height: auto;
  max-width: 280px;
  border-radius: 10px;
  border-radius: 61% 39% 28% 72%/24% 59% 41% 76%;
}
.get-card .form-head {
  font-size: 18px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: #5E503F;
}
.get-card .mail {
  height: 25px;
  width: 80%;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #EAE0D5;
  padding: 0 5px;
  outline: none;
  margin-top: 30px;
}
.get-card .input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.get-card .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffff;
  font-family: "Baloo 2", cursive;
  margin-top: 30px;
}
.get-card .btn:hover {
  background: #EAE0D5;
  box-shadow: inset 10px 10px 12px #a69f97, inset -10px -10px 12px #ffffff;
  color: #5E503F;
}

#contact {
  background-color: #EAE0D5;
  text-align: center;
  clip-path: polygon(51% 0, 100% 13%, 100% 100%, 0 100%, 0 13%);
}
#contact .container {
  height: 300px;
  width: 100vw;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}
#contact .container .logo {
  margin: 25px 0;
  font-size: 30px;
}
#contact .container .footer-p {
  font-size: 15px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: #5E503F;
}
#contact .container .social {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
#contact .container .social .icon {
  cursor: pointer;
  fill: #5E503F;
}
#contact .container .copy {
  font-size: 10px;
  color: #5E503F;
  font-family: "Roboto", sans-serif;
}
#contact .container .btn {
  width: 150px;
  height: 30px;
}
#contact .container .btn a {
  font-size: 12px;
}

@media (min-width: 480px) {
  .logo {
    font-size: 28px;
    font-family: "Baloo 2", cursive;
    font-weight: lighter;
  }

  .hero.container {
    width: 80vw;
    height: 70vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .hero.container .head-title {
    font-size: 30px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #5E503F;
  }
  .hero.container .head-p {
    font-size: 18px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #5E503F;
  }

  .left .img,
.right .img {
    width: 80vw;
    height: 30vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .left .img:nth-child(1),
.right .img:nth-child(1) {
    margin-top: 60px;
  }
  .left .text .feature-head,
.right .text .feature-head {
    font-size: 24px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #5E503F;
    margin-bottom: 20px;
  }
  .left .text .feature-p,
.right .text .feature-p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #5E503F;
    font-weight: 280;
  }

  .card {
    width: 70vw;
  }
  .card .apply-p {
    font-size: 16px;
  }

  .get-card .img {
    width: 80vw;
    height: 35vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
}
@media (min-width: 600px) {
  .hero.container {
    width: 80vw;
    height: 90vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
    margin: 50px auto 0;
  }
  .hero.container .head-title {
    font-size: 40px;
  }
  .hero.container .head-p {
    margin-top: 10px;
    font-size: 20px;
  }

  #feature,
#apply,
#form {
    width: 70vw;
  }

  .left .img,
.right .img,
.get-card .img {
    width: 70vw;
    height: 40vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .left .img img,
.right .img img,
.get-card .img img {
    max-width: 350px;
  }
  .left p,
.right p,
.get-card p {
    margin: 30px 0;
  }

  .card {
    width: 50vw;
    height: 50vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .card .apply-p {
    width: 70%;
  }

  .titles .title {
    font-size: 35px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #5E503F;
  }
  .titles .title-line {
    width: 100px;
  }
}
@media (min-width: 1000px) {
  .logo {
    font-size: 36px;
    font-family: "Baloo 2", cursive;
    font-weight: lighter;
  }

  .berger {
    display: none;
  }

  .nav_menu .nav_list {
    flex-direction: row;
    height: 60px;
    width: 500px;
    top: 5%;
    right: 5%;
  }
  .nav_menu .nav_list_item {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }
  .nav_menu .nav_list_item:hover {
    border-radius: 18px;
    background: #EAE0D5;
    box-shadow: 10px 10px 12px #a69f97, -10px -10px 12px #ffffff;
  }

  .hero.container {
    display: grid;
    grid-template-areas: "head head img" "sub sub img" "btn btn img";
    align-items: center;
    justify-items: center;
    width: 80vw;
    height: 80vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .hero.container .head-title {
    margin-top: 50px;
    font-size: 48px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #5E503F;
  }
  .hero.container .head-p {
    grid-area: head;
    margin-top: 0;
    margin-bottom: 100px;
    grid-area: sub;
    font-size: 24px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #5E503F;
  }
  .hero.container .card-img {
    grid-area: img;
    width: 90%;
  }
  .hero.container .btn {
    grid-area: btn;
  }

  .titles .title {
    font-size: 48px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #5E503F;
    margin: 140px 0 10px 0;
  }
  .titles .title-line {
    width: 100px;
    height: 5px;
  }

  #feature {
    width: 100vw;
  }

  .left {
    flex-direction: row;
    overflow: hidden;
  }
  .left .img {
    position: relative;
    left: -10%;
    margin-right: 10px;
    width: 50vw;
    align-items: flex-end;
    width: 50vw;
    height: 50vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .left .img img {
    margin-right: 50px;
    max-width: 500px;
  }
  .left .text {
    max-width: 40vw;
  }

  .right {
    flex-direction: row-reverse;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .right .img {
    position: relative;
    right: -10%;
    margin-left: 10px;
    width: 50vw;
    align-items: flex-start;
    width: 50vw;
    height: 50vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .right .img p {
    margin-left: 5%;
  }
  .right .img img {
    margin-left: 50px;
    max-width: 500px;
  }
  .right .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 40vw;
  }
  .right .btn {
    margin-bottom: 20px;
  }

  #apply {
    width: 90vw;
  }

  .cards {
    margin: 0 auto;
    max-width: 1280px;
    flex-direction: row;
  }
  .cards .card {
    width: 33vw;
    height: 50vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
    margin: 0 25px;
  }

  #form {
    width: 100vw;
  }

  .get-card {
    flex-direction: row-reverse;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .get-card .img {
    position: relative;
    right: -10%;
    margin-left: 10px;
    width: 50vw;
    align-items: flex-start;
    width: 50vw;
    height: 50vh;
    background-color: #EAE0D5;
    border-radius: 21px;
    background: #EAE0D5;
    box-shadow: 13px 13px 26px #d3cac0, -13px -13px 26px #fff6ea;
  }
  .get-card .img p {
    margin-left: 5%;
  }
  .get-card .img img {
    margin-left: 50px;
    max-width: 500px;
  }

  #contact .container {
    height: 350px;
  }
  #contact .container .logo {
    font-size: 38px;
  }
  #contact .container .social {
    max-width: 30%;
    margin: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
